{% extends "base.html" %}

{% block content %}
{% if results %}

<h1>Welcome, {{ username }}!</h1>

{% else %}
<h1>Signup</h1>
        <form action = "/" method="post">
            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td>
                        <input name="username" type="text">
                        <span class="error">{{ results[0] }}</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                        <input name="password" type="password">
                        <span class="error">{{ results[1] }}</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="verify">Verify Password</label></td>
                    <td>
                        <input name="verify" type="password">
                        <span class="error">{{ results[2] }}</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email (optional)</label></td>
                    <td>
                        <input name="email" value="">
                        <span class="error">{{ results[0] }}</span>
                    </td>
                </tr>
            </table>
            <input type="submit">
        </form>
{% endif %}
{% endblock %}
